{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password | Explore Bharat</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>
<body>
    <div class="top-bar">
        <p><i class=""></i> DIGITAL MONUMENT & ARCHITECTURE TRAVEL GUIDE</p>
    </div>

<section class="login-section">

    <div class="login-container">

        <div class="login-left">

            <span class="login-tag">
                PASSWORD RECOVERY
            </span>

            <h1>Forgot Password</h1>

            <p>
                Enter your registered Username and Email.
            </p>

            <form  class="login-form" method="post">
                {% csrf_token %}

                <input
                    type="text"
                    name="username"
                    placeholder="Enter Username"
                    required>

                <input
                    type="email"
                    name="email"
                    placeholder="Enter Registered Email"
                    required>

                <button type="submit">
                    Verify
                </button>

            </form>

        </div>

        <div class="login-right">

            <img src="{% static 'images/login/Victoria-Memorial-Hall-Kolkata-India-West-Bengal.webp' %}" alt="Forgot Password">

        </div>

    </div>

</section>

{% if error == "yes" %}

<script>

alert("Invalid Username or Email!");

</script>

{% endif %}

</body>
</html>