{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password | Explore Bharat</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<section class="login-section">

    <div class="login-container">

        <div class="login-left">

            <span class="login-tag">
                RESET PASSWORD
            </span>

            <h1>Create New Password</h1>

            <p>
                Enter your new password below.
            </p>

            <form class="login-form" method="post">
                {% csrf_token %}

                <input
                    type="password"
                    name="new_password"
                    placeholder="New Password"
                    required>

                <input
                    type="password"
                    name="confirm_password"
                    placeholder="Confirm Password"
                    required>

                <button type="submit">
                    Update Password
                </button>

            </form>

        </div>

        <div class="login-right">

            <img src="{% static 'images/login/Victoria-Memorial-Hall-Kolkata-India-West-Bengal.webp' %}"
                 alt="Reset Password">

        </div>

    </div>

</section>

{% if error == "yes" %}

<script>

alert("Passwords do not match!");

</script>

{% endif %}

{% if error == "no" %}

<script>

alert("Password Updated Successfully!");

window.location="{% url 'login' %}";

</script>

{% endif %}

</body>
</html>